.chat_main
  .chat_main__header
    .chat_main__header__group_box
      .chat_main__header__group_box__group_name
        test
      .chat_main__header__group_box__member_name
        Member:mami
    = link_to "#", class: "chat_main__header__edit_btn__group_edit" do
      .chat_main__header__edit_btn
        Edit

  .chat_main__messages
    .chat_main__messages__message
      .chat_main__messages__message__info
        .chat_main__messages__message__info__name
          mami
        .chat_main__messages__message__info__date
          2020/04/27(Mon) 11:10:55
      .chat_main__messages__message_text
        こんにちは
        
  .chat_main__form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__img"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__img__file"}
      %input{type: "submit", class: "submit-btn"}