.side_bar
  .side_bar__header
    .side_bar__header__box
      .side_bar__header__box_user
        mami
      .side_bar__header__box_icon
        = link_to "#", class: "side_bar__header__box_icon__edit_groups" do
          %i.far.fa-edit
        = link_to "#", class: "side_bar__header__box_icon__edit_user" do
          %i.fa.fa-cog
  .side_bar__groups
    .side_bar__groups__group
      .side_bar__groups__group_name
        test1
      .side_bar__groups__last_message
        メッセージはありません