* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  &__user-name {
    height: 100px;
    display: flex;
    align-items: center;
    &__top-items {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      font-weight: bold;
      font-size: 16px;
        &__name {
          color: #ffffff;
          font-size: 16px;
        }
        &__icons {
          display: flex;
          &__icon-edit {
            padding-right: 5px;
            a {
              color: #ffffff;
            }
          }
          &__icon-cog {
            a {
              color: #ffffff;
            }
          }
        }
    }
  }
  &__groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    &__group {
      padding: 20px;
      a {
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
      }
      &__name {
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}

.chat-main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  &__group-info {
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    &__left-box {
      margin-top: 35px;
      &__current-group {
        color: #333333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__current-member {
        display: flex;
        &__list {
          color: #999999;
          font-size: 12px;
        }
      }
    }
    a {
      text-decoration: none;
    }
    &__edit-btn {
      color: #38eaf0;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0px 20px;
      border: solid 1px #38eaf0;
    }
  }
  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 35px 40px;
    overflow: scroll;
    &__message {
      padding-bottom: 46px;
      &__address {
        display: flex;
        margin-bottom: 12px;
        &__name {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__body {
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
    width: 100%;
    .new_message {
      display: flex;
      width: 100%;
    }
    &__new-message {
      background-color: white;
      display: flex;
      height: 50px;
      width: 100%;
      margin: 20px 0 20px 40px;
      position: relative;
      .input-text {
        font-size: 16px;
        height: 100%;
        width: 100%;
        padding-left: 10px;
        border-style: none;
      }
      .input-image {
        font-size: 1.3em;
        height: 100%;
        line-height: 50px;
        position: absolute;
        right: 10px;
        cursor: pointer;
        .input-file {
          display: none;
        }
      }
    }
    .input-send {
      color: white;
      height: 50px;
      width: 100px;
      padding: 0 30px;
      margin: 20px 40px 20px 15px;
      background-color: #38aef0;
      cursor: pointer;
    }
  }
}